.shop-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.products-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
    width: 90%;
    margin: auto;
}

.cart-container {
    background-color: orange;
    max-height: 100vh;
    position: sticky;
    top: 0;
}

@media screen and (max-width:500px) {
    .shop-container {
        grid-template-columns: 1fr 1fr;
    }
    .products-container {
        grid-template-columns: 1fr;
    }
}