#navbar {
    background-color: #1C2B35;
    color: white;
}

.navbar-light .navbar-nav a {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    /* margin-right: 20px; */
}

.navbar-light .navbar-nav a:hover {
    color: orange;
}

.navbar-light .navbar-toggler-icon {
    background-color: orange;
    border-radius: 5px;
}

.active-route, .route {
    text-decoration: none;
    text-transform: uppercase;
    padding: 15px;
    border-radius: 10px;
    transition: color 300ms;
    font-weight: 500;
    border-bottom: 3px solid transparent;
    letter-spacing: .1rem;
}

.active-route, .route:hover {
    color: orange !important;
    border-bottom: 3px solid orange;
}

.route {
    color: white;
}