#navbar {
    background-color: #1C2B35;
    color: white;
}

.navbar-light .navbar-nav a {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 40px;
}

.navbar-light .navbar-nav a:hover {
    color: orange;
}

.navbar-light .navbar-toggler-icon {
    background-color: orange;
    border-radius: 5px;
}